.task {
    justify-content: space-between;
    display: flex;
    background: #f1f1f1;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 2px 5px;
    border: 1px solid #f1f1f1;
    transition: all 0.2s ease-out;
}
.task:hover {
    border: 1px solid #ccc;
    transition: all 0.2s ease-out;
}
.task--complete .task__name{
    text-decoration: line-through;
}

.task__name {

}

.task__input {

}