.counter {
    color: #ffffff;
}

.counter .counter__wrapper {

}
.counter .counter__value {
    font-size: 80px;

}
.counter .counter__button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 35px;
    border-width: 700;

}
.counter .counter__button.counter__button--decrement {
    margin-right: 5px;

}
.counter .counter__button.counter__button--increment {
    margin-left: 5px;

}

.icon {
    position: absolute;
    lefT:0;
    top:0;
    width: 30px;
    height: 30px;
    color: #fff;
}